{% extends 'base.html.twig' %}


{% block title %}Card info{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset ('assets/css/vignetcss.css') }}">
{% endblock %}
{% block body %}
<div class="row">
    <div class="containerProfil">
        <div class="col s12 m6">
            <div class="profilDetails">
                <div class="profilTitle flextest">
                    <h2>{{carte.name}}</h2>
                    {% if carte.hp %}
                    <h2>{{ carte.hp }} HP</h2>
                    {% endif %}
                </div>
                {% if ability %}
                <div class="cardRow">
                    <h3>Ability</h3>
                    <h4>{{ ability.name }}</h4>
                    <p>{{ ability.text }}</p>
                </div>
                {% endif %}
                {% if carte.attacks %}
                <div class="cardRow">
                    <h3>Attacks :</h3>
                {% for attaque in carte.attacks %}
                    <div class="flextest">
                        <h4>{{ attaque.name }}</h4>
                        <h4>{{ attaque.damage }}</h4>
                    </div>
                    <p>{{ attaque.text }}
                {% endfor %}
                </div>
                {% endif %}
                {% if carte.weakness %}
                <div class="cardRow">
                    <h3>Weakness : </h3>
                    <p>{{ carte.weakness.typeweak.name }}   {{ carte.weakness.value }}</p>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <img style="max-width: 100%;" src="{{ carte.imageUrlHiRes }}" />
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}