{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col s12 m6">
        <img style="max-width: 100%;" src="{{ carte.imageUrlHiRes }}" />
    </div>
    <div class="col s12 m6">
        <div>
            <h2>{{carte.name}}</h2>
            {% if carte.hp %}
            <h4>hp {{ carte.hp }}</h4>
            {% endif %}
        </div>
        <div>
        {% if ability %}
            <h3>Ability</h3>
            <h4>{{ ability.name }}</h4>
            <p>{{ ability.text }}</p>
        {% endif %}
        {% if carte.attacks %}
            <h3>Attacks :</h3>
        {% for attaque in carte.attacks %}
            <h4>{{ attaque.name }}   {{ attaque.damage }}</h4>
            <p>{{ attaque.text }}
        {% endfor %}
        {% endif %}
        {% if carte.weakness %}
            <h3>Weakness : </h3>
            <p>{{ carte.weakness.typeweak.name }}   {{ carte.weakness.value }}</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}