<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset ('assets/css/materialize/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset ('assets/css/indexBase.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="{{path ('card')}}" class="brand-logo">Card</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if app.user %}
                    <li><a class="aProfilNav" href="{{ path('profil', {id: app.user.id}) }}"><img class="imgProfilNav" src="/assets/img/{{ app.user.img }}" /></a></li>
                    <li><a href="{{ path('app_logout') }}">LogOff</a></li>
                    {% else %}
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                    <li><a href="{{ path('app_login') }}">LogIn</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/materialize/materialize.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
