{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="row">
    <div class="col s12 m8">
        <h2>{{ app.user.pseudo }}</h2>
        <img src="/assets/img/{{ app.user.img }}" />
        <div>
            <a id="btnUpdateImg" class="waves-effect waves-light btn blue darken-2">Change Picture</a>
            <div id="updateImg" class="displayNone">
                {{ form_start (form) }}
                        {{ form_widget (form) }}
                <input type="submit" value="Envoyer">
                {{ form_end (form) }}
            </div>
        </div>
        <p>{{ app.user.email }}</p>
    </div>
    <div class="col s12 m4">
        {% if decks %}
        <h2>Mes Decks :</h2>
        <ul>
        {% for deck in decks %}
            <li>{{ deck.nom }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <a href="{{ path('deck-create') }}" class="waves-effect waves-light btn blue darken-2">Create new deck</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }} 
<script src="{{ asset ('assets/js/profil.js') }}"></script>
{% endblock %}